body{
	background-color: #f5f5f5;

}
#logo{
	height:85%;
	width: 80%;
}
#marque{
	color: #08ff3d;
	font-size: 150%;

}
#location{
	margin-top: 10%;
	color: #ff0887;
}
#callus{
	margin-top: 7%;
	color: #ff0887;

}
#heading{


}

.backkarola{

	background-image: url("/static/images/footer.jpg") !important;
	background-repeat: no-repeat;
	background-size: 100% 100%; 
}



/*video k rollay*/

video{

  width: 100%    !important;
  height: auto;   !important;

}


/*video k rollay*/
#pic{
	height: 100%;
}
#peragraph{
	margin-top: 10%;
}
#slider{
	color: green;
}
.jobs{
	text-align: center;
	color: #8c03fc;
	margin-top: 5%;
}
.zoom:hover {
  transform: scale(1.1);
}
/*carousel-control-prev-icon, .carousel-control-next-icon*/
/*.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 30%;
    border: 3px solid black;
}*/
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  border-radius: 50%;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}
/*carousel-control-prev-icon, .carousel-control-next-icon khtm*/
#founder{
	/*height: 0%;
	width: 100%;*/
	align-items: right;
	padding-left: 30%;
	margin-top: 5%;
}

@media only screen and (max-width: 600px) {
  #founder{
		width: 100%;
	/*align-items: left;*/
	padding-left: 0.5% !important;
	margin-top: 5%;
}
}
/*jahaz*/
	
	

/*jahaz khtm*/