{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="videos">
	<div class="services-bg">
		<div class="ser-txt1">
			<p><h2><b>24 HRS HOME ONCAll HEALTH AIDES</b></h2>
			<a href="">HOME >> </a>
			<a href="">SERVICES >> </a>
		</p>
		</div><br><br>
	</div>
	<!-- card -->
    <div class="container">
      <div class="row hidden-md-up">
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">

				             </div>
				             <div class="content">
								<a href="{% url 'diabeticcare' %}"><p class="txt4">Diabetic Care, Glucose Monitoring St Insulin Management</p></a>
				                 <p class="txt2">Haseen Associates Services 
				                 </p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'diabeticcare' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->

        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">
				             </div>
				             <div class="content">
								 <a href="{% url 'cardiaccare' %}"><p class="txt4">Cardiac Care, Blood Pressure Monitoring & Maintain Charting</p></a>
				                 <p class="txt2">Haseen Associates services</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'cardiaccare' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">
				             </div>
				             <div class="content">
								 <a href="{% url 'maintainingintake' %}"><p class="txt4">Maintaining Intake & Output Charting</p></a>
				                 <p class="txt2">Haseen Associates services</p>
				             </div>
				             <div class="footer">
				             	<p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'maintainingintake' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
     <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">

				             </div>
				             <div class="content">
								 <a href="{% url 'intravenoustherapy' %}"><p class="txt4">Intravenous IN Infusion Therapy of any type</p></a>
				                 <p class="txt2">Haseen Associates services For Mother Care Services Being a mother is a life changing experience.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'intravenoustherapy' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">

				             </div>
				             <div class="content">
								 <a href="{% url 'untramuscularinjection' %}"><p class="txt4">Untramuscular injection ,Epidural & Pain Management</p></a>
				                 <p class="txt2">Haseen Associates services for Palliative Care Services Palliative care plays an important role.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'untramuscularinjection' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">
				             </div>
				             <div class="content">
								 <a href="{% url 'woundcareandprevention' %}"><p class="txt4">Wound Care and Prevention (wound cleaningiwashingI observing/debridement &dressing)</p></a>
				                 <p class="txt2">Haseen Associates services for Cancer Care Services Just as cancer affects your physical health.</p>
				             </div>
				             <div class="footer">
				                  <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'woundcareandprevention' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">
				             </div>
				             <div class="content">
								 <a href="{% url 'bedsorescare' %}"><p class="txt4">Bed Sores Care & Prevention</p></a>
				                 <p class="txt2">Haseen Associates deals with the diagnosis and treatment of such conditions as congenital heart defects.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'bedsorescare' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">
				             </div>
				             <div class="content">
								 <a href="{% url 'completetracheostomycare' %}"><p class="txt4">Complete Tracheostomy Care</p></a>
				                 <p class="txt2">Haseen Associates nursing services for Cancer Care Services Just as cancer affects your physical health.</p>
				             </div>
				             <div class="footer">
				                 <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'completetracheostomycare' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">
				             </div>
				             <div class="content">
								 <a href="{% url 'COPDasthmaManagement' %}"><p class="txt4">COPD / Asthma Management & Monitoring</p></a>
				                 <p class="txt2">Haseen Associates nursing services qualified clinical staff specialize in providing round-the-clock elder care services.</p>
				             </div>
				             <div class="footer">
				                 <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'COPDasthmaManagement' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
		<div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">

				             </div>
				             <div class="content">
								 <a href="{% url 'ora1medicationmanagement' %}"><p class="txt4">Ora1 Medication Management & Reminder</p></a>
				                 <p class="txt2">Haseen Associates services For Mother Care Services Being a mother is a life changing experience.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'ora1medicationmanagement' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">

				             </div>
				             <div class="content">
								 <a href="{% url 'onewgtubecare' %}"><p class="txt4">1WG Tube Care, insertion &Feeding Assistance</p></a>
				                 <p class="txt2">Haseen Associates services for Palliative Care Services Palliative care plays an important role.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'onewgtubecare' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">
				             </div>
				             <div class="content">
								 <a href="{% url 'PEGTubeCare' %}"><p class="txt4">PEG Tube Care&Feeding Assistance</p></a>
				                 <p class="txt2">Haseen Associates services for Cancer Care Services Just as cancer affects your physical health.</p>
				             </div>
				             <div class="footer">
				                  <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'PEGTubeCare' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">
				             </div>
				             <div class="content">
								 <a href="{% url 'foleyscathetercare' %}"><p class="txt4">Foleys Catheter Care & Insertion</p></a>
				                 <p class="txt2">Haseen Associates deals with the diagnosis and treatment of such conditions as congenital heart defects.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'foleyscathetercare' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">
				             </div>
				             <div class="content">
								 <a href="{% url 'ColostomyDrainageBagCare' %}"><p class="txt4">Colostomy/Drainage Bag Care & Changing</p></a>
				                 <p class="txt2">Haseen Associates nursing services for Cancer Care Services Just as cancer affects your physical health.</p>
				             </div>
				             <div class="footer">
				                 <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'ColostomyDrainageBagCare' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">
				             </div>
				             <div class="content">
								 <a href="{% url 'nebulizerandsteamtherapy' %}"><p class="txt4">Nebulizer and Steam Therapy</p></a>
				                 <p class="txt2">Haseen Associates nursing services qualified clinical staff specialize in providing round-the-clock elder care services.</p>
				             </div>
				             <div class="footer">
				                 <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'nebulizerandsteamtherapy' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
		<div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">

				             </div>
				             <div class="content">
								 <a href="{% url 'pulseoximetry' %}"><p class="txt4">Pulse Oximetry/Suctioning & incentive spirometry</p></a>
				                 <p class="txt2">Haseen Associates services For Mother Care Services Being a mother is a life changing experience.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'pulseoximetry' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">

				             </div>
				             <div class="content">
								 <a href="{% url 'diaperchanging' %}"><p class="txt4">Diaper Changing/Cleanliness & Sponge Bathing</p></a>
				                 <p class="txt2">Haseen Associates services for Palliative Care Services Palliative care plays an important role.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'diaperchanging' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">
				             </div>
				             <div class="content">
								 <a href="{% url 'AssistwithBathing' %}"><p class="txt4">Assist with Bathing/ Mobility & Dress Changing</p></a>
				                 <p class="txt2">Haseen Associates services for Cancer Care Services Just as cancer affects your physical health.</p>
				             </div>
				             <div class="footer">
				                  <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'AssistwithBathing' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">
				             </div>
				             <div class="content">
								 <a href="{% url 'perrectalevacuation' %}"><p class="txt4">Per Rectal Evacuation & Kleen Enema</p></a>
				                 <p class="txt2">Haseen Associates deals with the diagnosis and treatment of such conditions as congenital heart defects.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'perrectalevacuation' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">
				             </div>
				             <div class="content">
								 <a href="{% url 'minorsurgicalprocedure' %}"><p class="txt4">Minor Surgical Procedure under local Anesthesia</p></a>
				                 <p class="txt2">Haseen Associates nursing services for Cancer Care Services Just as cancer affects your physical health.</p>
				             </div>
				             <div class="footer">
				                 <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'minorsurgicalprocedure' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>

      </div><br>
    </div><br>



{% endblock %}