{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="rola khtm">
  <!-- /*back end video*/ -->
<div class="fullscreen-bg">
    <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
        <source src="{% static 'images/network.mp4' %}" type="video/mp4">
  <source src="{% static 'images/network.ogg' %}" type="video/ogg">
    </video>
</div>


<!-- /*video khtm*/ -->
<div class="ga-body">

<div class="grid image-grid">

  <div class="grid-block">
    <div class="tile">
      <a class="tile-link" href="#">
        <img class="tile-img tile-img1" src="{% static 'images/2-2.jpg' %}" alt="Image">
      </a>
    </div>
  </div>

  <div class="grid-block">
    <div class="tile">
      <a class="tile-link" href="#">
        <img class="tile-img tile-img2" src="{% static 'images/4-4.jpg' %}" alt="Image">
      </a>
    </div>
  </div>

  <div class="grid-block">
    <div class="tile">
      <a class="tile-link" href="#">
        <img class="tile-img tile-img3"  src="{% static 'images/3-3.jpg' %}" alt="Image">
      </a>
    </div>
  </div>

  <div class="grid-block">
    <div class="tile">
      <a class="tile-link" href="#">
        <img class="tile-img tile-img4" src="{% static 'images/5-5.jpg' %}" alt="Image">
      </a>
    </div>
  </div>

  <div class="grid-block">
    <div class="tile">
      <a class="tile-link" href="#">
        <img class="tile-img tile-img5" src="{% static 'images/6-6.jpg' %}" alt="Image">
      </a>
    </div>
  </div>

  <div class="grid-block">
    <div class="tile">
      <a class="tile-link" href="#">
        <img class="tile-img tile-img6" src="{% static 'images/7-7.jpg' %}" alt="Image">
      </a>
    </div>
  </div>

  <div class="grid-block">
    <div class="tile">
      <a class="tile-link" href="#">
        <img class="tile-img tile-img7" src="{% static 'images/9-9.jpg' %}" alt="Image">
      </a>
    </div>
  </div>

  <div class="grid-block">
    <div class="tile">
      <a class="tile-link" href="#">
        <img class="tile-img tile-img8" src="{% static 'images/8-8.jpg' %}" alt="Image">
      </a>
    </div>
  </div>

  <div class="grid-block">
    <div class="tile">
      <a class="tile-link" href="#">
        <img class="tile-img tile-img9" src="{% static 'images/10-10.jpg' %}" alt="Image">
      </a>
    </div>
  </div>

  <div class="grid-block">
    <div class="tile">
      <a class="tile-link" href="#">
        <img class="tile-img tile-img10" src="{% static 'images/11-11.jpg' %}" alt="Image">
      </a>
    </div>
  </div>

</div>

<!-- Gallery -->




{% endblock %}