{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="videos">
	<div class="services-bg">
		<div class="ser-txt1">
			<p><h2><b>HOME MEDICAL EQUIPMENT</b></h2>
			<a href="">HOME >> </a>
			<a href="">SERVICES >> </a>
		</p>
		</div><br><br>
	</div>
	<!-- card -->
    <div class="container">
      <div class="row hidden-md-up">
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">

				             </div>
				             <div class="content">
                                 <a href="{% url 'patientsbeds' %}"><p class="txt4">Patients beds Electric/ Manual</p></a>
				                 <p class="txt2">Haseen Associates Services Our nurses and attendants are experienced.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'patientsbeds' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->

        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'cardiacmonitors' %}"><p class="txt4">Cardiac Monitors</p></a>
				                 <p class="txt2">Haseen Associates services for Patient Caregiver Services Our caregivers.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'cardiacmonitors' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'suctionmachines' %}"><p class="txt4">Suction Machines</p></a>
				                 <p class="txt2">Haseen Associates services for Attendant Services Our attendants are certified caregivers.</p>
				             </div>
				             <div class="footer">
				             	<p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'suctionmachines' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
     <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">

				             </div>
				             <div class="content">
                                 <a href="{% url 'BipapMachines' %}"><p class="txt4">Bipap (oxygen concentrator) Machines</p></a>
				                 <p class="txt2">Haseen Associates services For Mother Care Services Being a mother is a life changing experience.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'BipapMachines' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">

				             </div>
				             <div class="content">
                                 <a href="{% url 'WheelChairs' %}"><p class="txt4">Wheel Chairs</p></a>
				                 <p class="txt2">Haseen Associates services for Palliative Care Services Palliative.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'WheelChairs' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'Electricwheelchairs' %}"><p class="txt4">Electric wheel chairs</p></a>
				                 <p class="txt2">Haseen Associates services for Cancer Care Services Just as cancer affects your physical health.</p>
				             </div>
				             <div class="footer">
				                  <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'Electricwheelchairs' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'Oxygencylinders' %}"><p class="txt4">Oxygen cylinders</p></a>
				                 <p class="txt2">Haseen Associates deals with the diagnosis and treatment of such conditions.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'Oxygencylinders' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'Glucometers' %}"><p class="txt4">Glucometers</p></a>
				                 <p class="txt2">Haseen Associates nursing services for Cancer Care Services.</p>
				             </div>
				             <div class="footer">
				                 <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'Glucometers' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'PulseOximeter' %}"><p class="txt4">Pulse Oximeter</p></a>
				                 <p class="txt2">Haseen Associates nursing services qualified clinical staff specialize in providing round-the-clock elder care services.</p>
				             </div>
				             <div class="footer">
				                 <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'PulseOximeter' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div>
        <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">

				             </div>
				             <div class="content">
                                 <a href="{% url 'Spirometers' %}"><p class="txt4">Spirometers</p></a>
				                 <p class="txt2">Haseen Associates services For Mother Care Services Being a mother is a life changing experience.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'Spirometers' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">

				             </div>
				             <div class="content">
                                 <a href="{% url 'BloodPressureApparatus' %}"><p class="txt4">Blood Pressure Apparatus</p></a>
				                 <p class="txt2">Haseen Associates services for Palliative Care Services Palliative care.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'BloodPressureApparatus' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'Nebulizer' %}"><p class="txt4">Nebulizer / Steamer</p></a>
				                 <p class="txt2">Haseen Associates services for Cancer Care Services Just as cancer affects your physical health.</p>
				             </div>
				             <div class="footer">
				                  <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'Nebulizer' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'FirstAidBoxes' %}"><p class="txt4">First Aid Boxes</p></a>
				                 <p class="txt2">Haseen Associates deals with the diagnosis and treatment of such conditions.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'FirstAidBoxes' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'InfraredLights' %}"><p class="txt4">Infrared Lights/Tens Machine</p></a>
				                 <p class="txt2">Haseen Associates nursing services for Cancer Care Services Just as cancer.</p>
				             </div>
				             <div class="footer">
				                 <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'InfraredLights' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'BedsTables' %}"><p class="txt4">Over Beds Tables</p></a>
				                 <p class="txt2">Haseen Associates nursing services qualified clinical staff specialize in providing round-the-clock elder care services.</p>
				             </div>
				             <div class="footer">
				                 <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'BedsTables' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div>
        <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">

				             </div>
				             <div class="content">
                                 <a href="{% url 'onevStands' %}"><p class="txt4">1/v Stands</p></a>
				                 <p class="txt2">Haseen Associates services For Mother Care Services Being a mother is a life changing experience.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'onevStands' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">

				             </div>
				             <div class="content">
                                 <a href="{% url 'AirMattress' %}"><p class="txt4">Ribbon / Air Mattress</p></a>
				                 <p class="txt2">Haseen Associates services for Palliative Care Services Palliative care plays.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'AirMattress' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'PatientsLifts' %}"><p class="txt4">Patients Lifts</p></a>
				                 <p class="txt2">Haseen Associates services for Cancer Care Services Just as cancer affects your physical health.</p>
				             </div>
				             <div class="footer">
				                  <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'PatientsLifts' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'RollatorsWalkers' %}"><p class="txt4">Walkers / Rollators Walkers</p></a>
				                 <p class="txt2">Haseen Associates deals with the diagnosis and treatment of such conditions.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'RollatorsWalkers' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'Crutches' %}"><p class="txt4">Crutches</p></a>
				                 <p class="txt2">Haseen Associates nursing services for Cancer Care Services .</p>
				             </div>
				             <div class="footer">
				                 <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'Crutches' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'AllSizesDiapers' %}"><p class="txt4">All Sizes Diapers</p></a>
				                 <p class="txt2">Haseen Associates nursing services qualified clinical staff specialize in providing round-the-clock elder care services.</p>
				             </div>
				             <div class="footer">
				                 <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'AllSizesDiapers' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div>
        <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">

				             </div>
				             <div class="content">
                                 <a href="{% url 'AllSizesCatheters' %}"><p class="txt4">All sizes internal /External Catheters</p></a>
				                 <p class="txt2">Haseen Associates services For Mother Care Services Being a mother is a life changing experience.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'AllSizesCatheters' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">

				             </div>
				             <div class="content">
                                 <a href="{% url 'CottonRolls' %}"><p class="txt4">Cotton Rolls / Tissues Packs</p></a>
				                 <p class="txt2">Haseen Associates services for Palliative Care Services Palliative care plays.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'CottonRolls' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'BedPansUrinals' %}"><p class="txt4">Bed Pans / Urinals</p></a>
				                 <p class="txt2">Haseen Associates services for Cancer Care Services Just as cancer affects your physical health.</p>
				             </div>
				             <div class="footer">
				                  <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'BedPansUrinals' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'DisposableGloves' %}"><p class="txt4">Latex/vinyl/polythene Disposable Gloves</p></a>
				                 <p class="txt2">Haseen Associates deals with the diagnosis and treatment of such conditions.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'DisposableGloves' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'SterilizedGauzes' %}"><p class="txt4">Sterilized Gauzes & Bandages</p></a>
				                 <p class="txt2">Haseen Associates nursing services for Cancer Care Services Just as cancer affects your physical health.</p>
				             </div>
				             <div class="footer">
				                 <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'SterilizedGauzes' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'oneVinfusions' %}"><p class="txt4">1/V infusions</p></a>
				                 <p class="txt2">Haseen Associates nursing services qualified clinical staff specialize in providing round-the-clock elder care services.</p>
				             </div>
				             <div class="footer">
				                 <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'oneVinfusions' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
    </div><br>
</div>



{% endblock %}