{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="videos">
	<div class="services-bg">
		<div class="ser-txt1">
			<p><h2><b>HOME DIAGNOSTIC LAB AND BLOOD TRANSFUSION SERVICES</b></h2>
			<a href="">HOME >> </a>
			<a href="">SERVICES >> </a>
		</p>
		</div><br><br>
	</div>
	<!-- card -->
    <div class="container">
      <div class="row hidden-md-up">
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/pc.jpg' %}">

				             </div>
				             <div class="content">
                                 <a href="{% url 'Homecollectionofbloodsamples' %}"><p class="txt4">24hrs Home collection of blood samples</p></a>
				                 <p class="txt2">Haseen Associates Services </p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'Homecollectionofbloodsamples' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->

        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/pc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'homeholtermonitor' %}"><p class="txt4">Home Holter Monitor (Ambulatory Electrocardiography)</p></a>
				                 <p class="txt2">Haseen Associates services</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'homeholtermonitor' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/pc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'ultrasoundathome' %}"><p class="txt4">Ultrasound athome</p></a>
				                 <p class="txt2">Haseen Associates services </p>
				             </div>
				             <div class="footer">
				             	<p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'ultrasoundathome' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
     <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/pc.jpg' %}">

				             </div>
				             <div class="content">
                                 <a href="{% url 'pelviscare' %}"><p class="txt4">Pelvis Care</p></a>
				                 <p class="txt2">Haseen Associates services For Mother Care Services Being a mother is a life changing experience.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'pelviscare' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/pc.jpg' %}">

				             </div>
				             <div class="content">
                                 <a href="{% url 'fetalcare' %}"><p class="txt4">Fetal Care</p></a>
				                 <p class="txt2">Haseen Associates services for Palliative Care Services Palliative care plays an important role.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'fetalcare' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/pc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'pregnancyusg' %}"><p class="txt4">Routine Checkup of Pregnancy usg</p></a>
				                 <p class="txt2">Haseen Associates services for Cancer Care Services Just as cancer affects your physical health.</p>
				             </div>
				             <div class="footer">
				                  <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'pregnancyusg' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/pc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'ECGathome' %}"><p class="txt4">ECG (Electrocardiography) at home</p></a>
				                 <p class="txt2">Haseen Associates deals with the diagnosis and treatment of such conditions.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'ECGathome' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/pc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'ECHOathome' %}"><p class="txt4">ECHO (Echocardiography) at home</p></a>
				                 <p class="txt2">Haseen Associates nursing services for Cancer Care Services</p>
				             </div>
				             <div class="footer">
				                 <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'ECHOathome' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/pc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'vaccination' %}"><p class="txt4">Vaccination of any type at home</p></a>
				                 <p class="txt2">Haseen Associates nursing services qualified clinical staff specialize.</p>
				             </div>
				             <div class="footer">
				                 <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'vaccination' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
        <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/pc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'bloodtransfusion' %}"><p class="txt4">Blood Transfusion at home</p></a>
				                 <p class="txt2">Haseen Associates deals with the diagnosis and treatment of such conditions.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'bloodtransfusion' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/pc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'BloodDonorsArrangement' %}"><p class="txt4">Blood & Blood Donors Arrangement</p></a>
				                 <p class="txt2">Haseen Associates nursing services for Cancer Care Services.</p>
				             </div>
				             <div class="footer">
				                 <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'BloodDonorsArrangement' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/pc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'OxygenatedAmbulanceServices' %}"><p class="txt4">Fully Equipped & Oxygenated Ambulance services</p></a>
				                 <p class="txt2">Haseen Associates nursing services qualified clinical staff specialize.</p>
				             </div>
				             <div class="footer">
				                 <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'OxygenatedAmbulanceServices' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
        <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/pc.jpg' %}">
				             </div>
				             <div class="content">
                                 <a href="{% url 'deliveryofreports' %}"><p class="txt4">Home/online delivery of reports</p></a>
				                 <p class="txt2">Haseen Associates deals with the diagnosis and treatment of such conditions.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'deliveryofreports' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
    </div><br>



{% endblock %}