{% extends 'base.html' %}

{% block content %}
{% load static %}

<!--<div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-12" id="marque">-->
<!--         <marquee width="60%" direction="left" height="30px">-->
<!--          OUR OFFICES : ISLAMABAD 0302-8881211-->
<!--         </marquee>-->
<!--        </div>-->
<!--      </div>-->
<!--          <div class="row">-->
<!--           <div class="col-md-4">-->
<!--            <img id="logo" src="logo.png">-->
<!--          </div>-->
<!--          <div class="col-md-4">-->

<!--            <h3 id="location">-->
<!--              <i class="fa fa-map-marker fa-sm" aria-hidden="true"></i>-->
<!--              Our Location-->
<!--            </h3>-->
<!--          <address>2nd Floor, Mughal Plaza, G11/1 Islamabad Pakistan</address>-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--          <h3 id="callus">-->
<!--            <i class="fa fa-phone fa-sm" aria-hidden="true"></i>-->
<!--            Call Us:-->
<!--          </h3>-->
<!--          <h5>-->
<!--            0302-8881211-->
<!--          </h5>-->
<!--          <p>-->
<!--            For 24*365 Services-->
<!--          </p>-->
<!--        </div>  -->
<!--      </div>-->
<!--    </div>-->
<!--        <div style="margin-top: -4%;">-->
<!--        <nav" class="navbar navbar-expand-lg navbar-dark bg-success">-->
<!--  <div class="container-fluid">-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" aria-current="page" href="#">Services</a>-->
<!--        </li>-->
<!--        -->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" aria-current="page" href="#">Gallery</a>-->
<!--        </li>-->
<!--         <li class="nav-item">-->
<!--          <a class="nav-link active" aria-current="page" href="#">About</a>-->
<!--        </li>-->
<!--         <li class="nav-item">-->
<!--          <a class="nav-link active" aria-current="page" href="#">Contact</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" aria-current="page" href="#">Jobs</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->

<!-- video wala kam -->
<div class="">
  <video   loop autoplay muted>
  <source src="{% static 'images/health2.mp4' %}" type="video/mp4">
  <source src="{% static 'images/health2.ogg' %}" type="video/ogg">
  Your browser does not support the video tag.
</video>
  </div>
  
<!-- video wala kam -->

  <div class="container">
  <div class="row">
    <div class="col-md-3" style="background-color: #07f0e8; margin-top: -10%; z-index: 1;">


      <h3 class="">HASEEN ASSOCIATE NURSING SERVICES</h3>
       <p>Get quality home nursing services by certified nurses</p>
    </div>
    <div class="col-md-3" style="background-color: #059bf2; margin-top: -10%; z-index: 1;">
      <h3>Team Work</h3>
                <p>Our team works with the mission to provide personalized, compassionate and proficient home health services.</p>
    </div>
    <div class="col-md-3" style="background-color: #6c05f2; margin-top: -10%; z-index: 1;">
      <h3>Best Services</h3>
      <p>We hold expertise in providing home nursing services to your loved ones</p>
    </div>
    <div class="col-md-3" style="background-color: #12990f; margin-top: -10%; z-index: 1;">
      <h3>Our Aim</h3>
      <p>Our Aim is to give care support to patient to get speedy recovery.</p>
    </div>
  </div>
</div>

<div class="container">


  <div class="row"  style="margin-top: 5%;">
    <div class="col-md-6">
       <div data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000">

<!--       <img id="pic" src="{% static 'images/d.jpg' %}">-->
    </div>
     <img id="pic" src="{% static 'images/d.jpg' %}">

    </div>
    <div class="col-md-6">
      <div data-aos="flip-left">
      <h2>Haseen Associate Nursing Services</h2>
      <hr>
      <p id="peragraph">
        At We is committed to provide good care to patients at the comfort of their home. We deliver hospital-quality care at home 12/7 or 24/7. We understand the needs of patients and we also understand the needs of their family members. We take the burden off you when caring for your loved one so you can focus on more pressing issues. The nurses and patient care staff at We Care are carefully selected and screened before they are assigned to a patient. Many of our nurses and nursing staff have experience taking care of patients in Intensive Care Unit settings at hospitals and at homes. We also provide training to our staff members so they understand the needs of patients better. Currently, we offer the following services to assist you with care giving responsibilities including: * Nursing Care Services for Elderly patients *Patient Care Services * Physiotherapy Services * Acupuncture Therapy * Rehabilitation Therapy *Babysitting Services >>
      </p>
    </div>
      <a href="#"><button style="border-radius: 50px;" type="button" class="btn btn-primary">Read More</button></a>
      <button style="border-radius: 50px;" type="button" class="btn btn-secondary">Call Now</button>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row">
  <div col-md-12>

    <h1 style="text-align: center; margin-top: 5%; color: #8c03fc;">Services</h1>
  </div>
  </div>
    <div class="row justify-content-center">

      <div class="col-md-3">
        <div data-aos="flip-left">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/do.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h2>HA Nursing Services</h2>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      </div>
      <div class="col-md-3">
        <div data-aos="flip-right">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'images/14.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h2>HA Skilled Nurses</h2>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div data-aos="flip-left">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'images/15.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h2>Haseen A. Elder care</h2>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div data-aos="flip-right">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'images/13.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h2> HA Case Management</h2>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <h1 class="jobs">JOBS</h1>

<!-- naya -->
    <div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div id="inam" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
             <div class="container">
              <div class="row">
                <div class="col-sm-12 col-lg-4">
                  <div class="card" style="width: 300px;">
                    <img src="{% static 'images/skin3.jpg' %}" class="card-img-top">
                    <div class="card-body">
                      <h4 class="card-title">Why you should use skin masks ?</h4>
                      <p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
                      <button type="button" class="btn btn-warning">Read More</button>

                    </div>

                  </div>

                </div>
                <div class="col-sm-12 col-lg-4">
                  <div class="card" style="width: 300px;">
                    <img src="{% static 'images/skin3.jpg' %}" class="card-img-top">
                    <div class="card-body">
                      <h4 class="card-title">Why you should use skin masks ?</h4>
                      <p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
                      <button type="button" class="btn btn-warning">Read More</button>

                    </div>

                  </div>

                </div>
                <div class="col-sm-12 col-lg-4">
                  <div class="card" style="width: 300px;">
                    <img src="{% static 'images/skin3.jpg' %}" class="card-img-top">
                    <div class="card-body">
                      <h4 class="card-title">Why you should use skin masks ?</h4>
                      <p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
                      <button type="button" class="btn btn-warning">Read More</button>

                    </div>

                  </div>

                </div>

              </div>

             </div>


          </div>
          <div class="carousel-item">
             <div class="container">
              <div class="row">
                <div class="col-sm-12 col-lg-4">
                  <div class="card" style="width: 300px;">
                    <img src="{% static 'images/skin3.jpg' %}" class="card-img-top">
                    <div class="card-body">
                      <h4 class="card-title">Why you should use skin masks ?</h4>
                      <p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
                      <button type="button" class="btn btn-warning">Read More</button>

                    </div>

                  </div>

                </div>
                <div class="col-sm-12 col-lg-4">
                  <div class="card" style="width: 300px;">
                    <img src="{% static 'images/skin3.jpg' %}" class="card-img-top">
                    <div class="card-body">
                      <h4 class="card-title">Why you should use skin masks ?</h4>
                      <p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
                      <button type="button" class="btn btn-warning">Read More</button>

                    </div>

                  </div>

                </div>
                <div class="col-sm-12 col-lg-4">
                  <div class="card" style="width: 300px;">
                    <img src="{% static 'images/skin3.jpg' %}" class="card-img-top">
                    <div class="card-body">
                      <h4 class="card-title">Why you should use skin masks ?</h4>
                      <p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
                      <button type="button" class="btn btn-warning">Read More</button>

                    </div>

                  </div>

                </div>

              </div>

             </div>


          </div>

        </div>
        <a href="#inam" class="carousel-control-prev" data-slide="prev">
          <span  class="carousel-control-prev-icon"></span>
        </a>
        <a href="#inam" class="carousel-control-next" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

      </div>

    </div>

  </div>

</div>
<!-- crouser khtm -->

         <!--  Medical Equement start -->
    <div class="container" style="background-color: #a3f7de">
    <h1 class="jobs"><br>MEDICAL EQUIPMENT</h1>


    <div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div id="inam" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
             <div class="container">
              <div class="row">
                <div class="col-sm-12 col-lg-4">
                  <div class="card" style="width: 300px;">
                    <img src="{% static 'images/med2.jpg' %}" class="card-img-top zoom">
                    <div class="card-body">
                      <h4 class="card-title">Face Mask</h4>
                      <p class="card-text">Discription</p>
                      <button type="button" class="btn btn-primary">Read More</button>

                    </div>

                  </div>

                </div>
                <div class="col-sm-12 col-lg-4">
                  <div class="card" style="width: 300px;">
                    <img src="{% static 'images/med0.jpg' %}" class="card-img-top zoom">
                    <div class="card-body">
                      <h4 class="card-title">First Aid Kit</h4>
                      <p class="card-text">Discription</p>
                      <button type="button" class="btn btn-primary">Read More</button>

                    </div>

                  </div>

                </div>
                <div class="col-sm-12 col-lg-4">
                  <div class="card" style="width: 300px;">
                    <img src="{% static 'images/med1.jpg' %}" class="card-img-top zoom">
                    <div class="card-body">
                      <h4 class="card-title">Gloves</h4>
                      <p class="card-text">Discription</p>
                      <button type="button" class="btn btn-primary">Read More</button>

                    </div>

                  </div>

                </div>

              </div>

             </div>


          </div>
          <div class="carousel-item">
             <div class="container">
              <div class="row">
                <div class="col-sm-12 col-lg-4">
                  <div class="card" style="width: 300px;">
                    <img src="{% static 'images/med2.jpg' %}" class="card-img-top zoom">
                    <div class="card-body">
                      <h4 class="card-title">Face Mask</h4>
                      <p class="card-text">Discription</p>
                      <button type="button" class="btn btn-primary">Read More</button>

                    </div>

                  </div>

                </div>
                <div class="col-sm-12 col-lg-4">
                  <div class="card" style="width: 300px;">
                    <img src="{% static 'images/med3.jpg' %}" class="card-img-top zoom">
                    <div class="card-body">
                      <h4 class="card-title">Ear Plug</h4>
                      <p class="card-text">Discription</p>
                      <button type="button" class="btn btn-primary">Read More</button>

                    </div>

                  </div>

                </div>
                <div class="col-sm-12 col-lg-4">
                  <div class="card" style="width: 300px;">
                    <img src="{% static 'images/med4.jpg' %}" class="card-img-top zoom">
                    <div class="card-body">
                      <h4 class="card-title">Thermometer</h4>
                      <p class="card-text">Discription</p>
                      <button type="button" class="btn btn-primary">Read More</button>

                    </div>

                  </div>

                </div>

              </div>

             </div>


          </div>

        </div>
       <!--  <a href="#inam" class="carousel-control-prev" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a href="#inam" class="carousel-control-next" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a> -->

      </div>

    </div>

  </div>

</div>
</div>
<!-- circle -->

<!-- circle end -->


        <!-- About Us -->
  <div class="container">
    <h1 style="text-align: center; margin-top: 5%; color: #8c03fc;">Who We Are</h1>
  <div class="row">
    <div class="col-md-6">
      <div data-aos="fade-right">
      <h2 style="color: #0af512">About Us</h2>
      <hr>
      <p id="peragraph">
        At We is committed to provide good care to patients at the comfort of their home. We deliver hospital-quality care at home 12/7 or 24/7. We understand the needs of patients and we also understand the needs of their family members. We take the burden off you when caring for your loved one so you can focus on more pressing issues. The nurses and patient care staff at We Care are carefully selected and screened before they are assigned to a patient. Many of our nurses and nursing staff have experience taking care of patients in Intensive Care Unit settings at hospitals and at homes. We also provide training to our staff members so they understand the needs of patients better. Currently, we offer the following services to assist you with care giving responsibilities including: * Nursing Care Services for Elderly patients *Patient Care Services * Physiotherapy Services * Acupuncture Therapy * Rehabilitation Therapy *Babysitting Services >>
      </p>
    </div>
    </div>

    <div class="col-md-6">
    <div data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000">

       <img id="founder" src="{% static 'images/founder.jpg' %}">
    </div>
    </div>
  </div>
</div>






{% endblock %}