{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="bg">
	<div class="services-bg">
		<div class="ser-txt">
			<p><h2><b>NURSING HOME CRITICAL CARE SPECIFIED NURSING &
REHABILATION CENTRE</b></h2>
			<a href="">HOME >> </a>
			<a href="">SERVICES >> </a>
		</p>
            <p>To Provide Specified Care To Sub Acute And Chronic Patients Who After Acute Phase And Diagnosis of Their Illness Are Discharged From uzher Hospitals Either Due To Shortage of Beds or No Active Intervention but Need Recovery Time That Could Not Be Given At Home We Bring All These Patient Under A Single Floor At A Much Easier Accessability Affordability Under Supervision Of Highly Qualified Doctors And Nursing Staff.
            </p>
		</div><br>
	<br><br>
	



{% endblock %}