{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="videos">
	<div class="services-bg">
		<div class="ser-txt">
			<p><h2><b>NURSING SERVICES</b></h2>
			<a href="">HOME >> </a>
			<a href="">SERVICES >> </a>
		</p>
		</div>
		<br><br>
	</div>
	<!-- card -->
    <div class="container">
      <div class="row hidden-md-up">
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/ns.jpg' %}">

				             </div>
				             <div class="content">
								 <a href="{% url 'basicattendantnursingcare' %}"><p class="txt4">Basic Attendant Nursing Care</p></a>
				                 <p class="txt2">Haseen Associates Services Our nurses and attendants are experienced in providing a complete range.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'basicattendantnursingcare' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->

        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/ns.jpg' %}">
				             </div>
				             <div class="content">
								 <a href="{% url 'assistantnursingcare' %}"><p class="txt4">Assistant Nursing Care</p></a>
				                 <p class="txt2">Haseen Associates services for Patient Caregiver Services Our caregivers are well trained.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="assistantnursingcare"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/ns.jpg' %}">
				             </div>
				             <div class="content">
				                 <a href="{% url 'qualifiedregisterednursingcare' %}"><p class="txt4">Qualified / Registered Nursing Care</p></a>
				                 <p class="txt2">Haseen Associates services for Attendant Services Our attendants are certified caregivers.</p>
				             </div>
				             <div class="footer">
				             	<p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'qualifiedregisterednursingcare' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
     <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/ns.jpg' %}">

				             </div>
				             <div class="content">
				                 <a href="{% url 'specializednursingcare' %}"><p class="txt4">Specialized Nursing Care</p></a>
				                 <p class="txt2">Haseen Associates services For Mother Care Services Being a mother is a life changing experience.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'specializednursingcare' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/ns.jpg' %}">

				             </div>
				             <div class="content">
				                 <a href="{% url 'postsurgicalnursingcare' %}"><p class="txt4">Post-Surgical Nursing Care</p></a>
				                 <p class="txt2">Haseen Associates services for Palliative Care Services Palliative care .</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'postsurgicalnursingcare' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/ns.jpg' %}">
				             </div>
				             <div class="content">
				                 <a href="{% url 'poststrokenursingcare' %}"><p class="txt4">Post-Stroke Nursing Care</p></a>
				                 <p class="txt2">Haseen Associates services for Cancer Care Services Just as cancer affects your physical health.</p>
				             </div>
				             <div class="footer">
				                  <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'poststrokenursingcare' %}""> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/ns.jpg' %}">
				             </div>
				             <div class="content">
				                 <a href="{% url 'maternitynursingcare' %}"><p class="txt4">Maternity Nursing Care</p></a>
				                 <p class="txt2">Haseen Associates deals with the diagnosis and treatment of such conditions as congenital heart defects.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'maternitynursingcare' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/ns.jpg' %}">
				             </div>
				             <div class="content">
				                 <a href="{% url 'neonatalnursingcare' %}"><p class="txt4">Neonatal Nursing Care</p></a>
				                 <p class="txt2">Haseen Associates nursing services for Cancer Care Services Just as cancer affects your physical health.</p>
				             </div>
				             <div class="footer">
				                 <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'neonatalnursingcare' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/ns.jpg' %}">
				             </div>
				             <div class="content">
				                 <a href="{% url 'geriatricnursingcare' %}"><p class="txt4">Geriatric Nursing Care</p></a>
				                 <p class="txt2">Haseen Associates nursing services qualified clinical staff specialize in providing round-the-clock elder care services.</p>
				             </div>
				             <div class="footer">
				                 <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'geriatricnursingcare' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
		<div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/ns.jpg' %}">

				             </div>
				             <div class="content">
				                 <a href="{% url 'medicaloncologynursingcare' %}"><p class="txt4">Medical / Oncology Nursing Care</p></a>
				                 <p class="txt2">Haseen Associates services For Mother Care Services Being a mother is a life changing experience.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'medicaloncologynursingcare' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/ns.jpg' %}">

				             </div>
				             <div class="content">
				                 <a href="{% url 'diabeticfootnursingcare' %}"><p class="txt4">Diabetic Foot Nursing Care</p></a>
				                 <p class="txt2">Haseen Associates services for Palliative Care Services Palliative care plays.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'diabeticfootnursingcare' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/ns.jpg' %}">
				             </div>
				             <div class="content">
				                 <a href="{% url 'Childdaycarenursingcare' %}"><p class="txt4">CP Child & Day Care Nursing Care</p></a>
				                 <p class="txt2">Haseen Associates services for Cancer Care Services Just as cancer affects your physical health.</p>
				             </div>
				             <div class="footer">
				                  <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'Childdaycarenursingcare' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
    </div><br>



{% endblock %}