{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="videos">
	<div class="services-bg">
		<div class="ser-txt1">
			<p><h2><b>REHABILITATION SERVICES INCLUDE</b></h2></p>
		</div><br><br>
	</div>
	<!-- card -->
    <div class="container">
      <div class="row hidden-md-up">
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cs.jpg' %}">

				             </div>
				             <div class="content">
								<a href="{% url 'physicaltherapy' %}"><p class="txt4">Physical Therapy</p></a>
				                 <p class="txt2">Haseen Associates Services Our nurses and attendants are experienced in providing a complete range.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'physicaltherapy' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->

        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cs.jpg' %}">
				             </div>
				             <div class="content">
								<a href="{% url 'speechtherapy' %}"><p class="txt4">Speech Therapy</p></a>
				                 <p class="txt2">Haseen Associates services for Patient Caregiver Services Our caregivers are well trained.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'speechtherapy' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cs.jpg' %}">
				             </div>
				             <div class="content">
				                <a href="{% url 'psyhotherapy' %}"> <p class="txt4">Psyhotherapy</p></a>
				                 <p class="txt2">Haseen Associates services for Attendant Services Our attendants are certified caregivers.</p>
				             </div>
				             <div class="footer">
				             	<p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'psyhotherapy' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
     <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cs.jpg' %}">

				             </div>
				             <div class="content">
								<a href="{% url 'respiratorytherapy' %}"><p class="txt4">Respiratory Therapy</p></a>
				                 <p class="txt2">Haseen Associates services For Mother Care Services Being a mother is a life changing experience.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'respiratorytherapy' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cs.jpg' %}">

				             </div>
				             <div class="content">
				                <a href="{% url 'occupationaltherapy' %}"><p class="txt4">Occupational Therapy</p></a>
				                 <p class="txt2">Haseen Associates services for Palliative Care Services Palliative care plays an important role.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'occupationaltherapy' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cs.jpg' %}">
				             </div>
				             <div class="content">
								<a href="{% url 'cuppingtherapy_hijama' %}"><p class="txt4">Cupping Therapy/Hijama</p></a>
				                 <p class="txt2">Haseen Associates services for Cancer Care Services Just as cancer affects your physical health.</p>
				             </div>
				             <div class="footer">
				                  <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'cuppingtherapy_hijama' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cs.jpg' %}">
				             </div>
				             <div class="content">
								<a href="{% url 'ECMtherapy' %}"><p class="txt4">ECM Therapy</p></a>
				                 <p class="txt2">Haseen Associates deals with the diagnosis and treatment of such conditions as congenital heart defects.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'ECMtherapy' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cs.jpg' %}">
				             </div>
				             <div class="content">
								<a href="{% url 'massagetherapy' %}"><p class="txt4">Massage Therapy (only for patients)</p></a>
				                 <p class="txt2">Haseen Associates nursing services for Cancer Care Services Just as cancer affects your physical health.</p>
				             </div>
				             <div class="footer">
				                 <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'massagetherapy' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cs.jpg' %}">
				             </div>
				             <div class="content">
								<a href="{% url 'diabeticfoottherapy' %}"><p class="txt4">Diabetic Foot Therapy</p></a>
				                 <p class="txt2">Haseen Associates nursing services qualified clinical staff specialize in providing round-the-clock.</p>
				             </div>
				             <div class="footer">
				                 <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'diabeticfoottherapy' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
        <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cs.jpg' %}">
				             </div>
				             <div class="content">
								<a href="{% url 'orthotics_prosthetics' %}"><p class="txt4">Orthotics/Prosthetics</p></a>
				                 <p class="txt2">Haseen Associates deals with the diagnosis and treatment of such conditions.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'orthotics_prosthetics' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>

      </div><br>
    </div><br>



{% endblock %}