{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/services.css' %}">
<div class="bg">
	<div class="services-bg">
		<div class="ser-txt">
			<p><h2><b>SERVICES</b></h2>
		</p>
		</div>
	</div>
	<!-- card -->
    <div class="container">
      <div class="row hidden-md-up">
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/ns.jpg' %}">

				             </div>
				             <div class="content">
								 <a href="{% url 'NursingServices' %}"><p class="txt4">Nursing Services</p></a>
				                 <p class="txt2">Haseen Associates Services Our nurses and attendants are experienced in providing a complete range of nursing care specializations – Giving medicines on time.Feeding and bathroom assistance.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'NursingServices' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->

        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cs.jpg' %}">
				             </div>
				             <div class="content">
								 <a href="{% url 'rehabilitationservicesinclude' %}"><p class="txt4">Rehabilitation Services Include</p></a>
				                 <p class="txt2">Haseen Associates services for Patient Caregiver Services Our caregivers are well trained in providing all types of in-house caregiving services. Fill up the form to know more about our caregiving services.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'rehabilitationservicesinclude' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/as.jpg' %}">
				             </div>
				             <div class="content">
								 <a href="{% url 'nursinghomecriticalcarespecified' %}"><p class="txt4">NURSING HOME CRITICAL CARE SPECIFIED</p></a>
				                 <p class="txt2">Haseen Associates services for Attendant Services Our attendants are certified caregivers & are able to assist with patient’s mobility, maintaining hygiene, feeding, to helping in exercise and other nursing care specializations.</p>
				             </div>
				             <div class="footer">
				             	<p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'nursinghomecriticalcarespecified' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
     <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">

				             </div>
				             <div class="content">
								 <a href="{% url 'homeoncallhealthaides24hrs' %}"><p class="txt4">24 hrs Home Oncall Health Aides</p></a>
				                 <p class="txt2">Haseen Associates services For Mother Care Services Being a mother is a life changing experience. A new mother requires and guidance from professionals like lactation therapist and infant care nurses.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'homeoncallhealthaides24hrs' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/pc.jpg' %}">

				             </div>
				             <div class="content">homediagnosticlabandbloodtransfusionservices
								 <a href="{% url 'homediagnosticlabandbloodtransfusionservices' %}"><p class="txt4">Home Diagnostic Lab And Blood Transfusion Services</p></a>
				                 <p class="txt2">Haseen Associates services for Palliative Care Services Palliative care plays an important role in alleviating short-term symptoms and provides long-term support against chronic diseases to patients.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'homediagnosticlabandbloodtransfusionservices' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">
				             </div>
				             <div class="content">
								 <a href="{% url 'homemedicalequipment' %}"><p class="txt4">Home Medical Equipment</p></a>
				                 <p class="txt2">Haseen Associates services for Cancer Care Services Just as cancer affects your physical health, it can bring up a wide range of feelings you’re not used to dealing with. EHC provides at-home cancer care services...</p>
				             </div>
				             <div class="footer">
				                  <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'homemedicalequipment' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/ca-c.jpg' %}">
				             </div>
				             <div class="content">
				                 <p class="txt4">Cardiac Care</p>
				                 <p class="txt2">Haseen Associates deals with the diagnosis and treatment of such conditions as congenital heart defects, coronary artery disease, electrophysiology, heart failure and valvular heart disease.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href=""> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/ic.jpg' %}">
				             </div>
				             <div class="content">
				                 <p class="txt4">Intensive Care</p>
				                 <p class="txt2">Haseen Associates nursing services for Cancer Care Services Just as cancer affects your physical health, it can bring up a wide range of feelings you’re not used to dealing with.</p>
				             </div>
				             <div class="footer">
				                 <p><span class="like"><i class="fab fa-gratipay"><a href=""> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/ec.jpg' %}">
				             </div>
				             <div class="content">
				                 <p class="txt4">Elder Care</p>
				                 <p class="txt2">Haseen Associates nursing services qualified clinical staff specialize in providing round-the-clock elder care services. Fixing a diet plan Giving medicines on time Blood Pressure Checkup Pulse Oximeter Oral Hygiene and Bed Bath/Sponge Bath.</p>
				             </div>
				             <div class="footer">
				                 <p><span class="like"><i class="fab fa-gratipay"><a href=""> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div>
    </div><br>


{% endblock %}