{% extends 'base.html' %}

{% block content %}
{% load static %}
	<div class="videos">
	<div class="services-bg">
		<div class="ser-txt">
			<p><h2><b>SERVICES</b></h2>
			<a href="">HOME >> </a>
			<a href="">SERVICES >> </a>
		</p><br><br><br>
		</div>
	</div>
	<!-- card -->
	<div>
    <div class="container">

    	<div class="cc-bg">
    	<h1 style="color: #E2EC12" class="fasla">SERVICES</h1>
       <div class="row hidden-md-up">
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/ns.jpg' %}">

				             </div>
				             <div class="content">
								 <a href="{% url 'NursingServices' %}"><p class="txt4">Nursing Services</p></a>
				                 <p class="txt2">Haseen Associates Services Our nurses and attendants are experienced in providing a complete range.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'NursingServices' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->

        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cs.jpg' %}">
				             </div>
				             <div class="content">
								 <a href="{% url 'rehabilitationservicesinclude' %}"><p class="txt4">Rehabilitation Services Include</p></a>
				                 <p class="txt2">Haseen Associates services for Patient Caregiver Services Our caregivers are well trained.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'rehabilitationservicesinclude' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/as.jpg' %}">
				             </div>
				             <div class="content">
								 <a href="{% url 'nursinghomecriticalcarespecified' %}"><p class="txt4">NURSING HOME CRITICAL CARE SPECIFIED</p></a>
				                 <p class="txt2">Haseen Associates services for Attendant Services Our attendants are certified caregivers.</p>
				             </div>
				             <div class="footer">
				             	<p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'nursinghomecriticalcarespecified' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
	  <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">

				             </div>
				             <div class="content">
								 <a href="{% url 'homeoncallhealthaides24hrs' %}"><p class="txt4">24 hrs Home Oncall Health Aides</p></a>
				                 <p class="txt2">Haseen Associates services For Mother Care Services Being a mother is a life changing experience.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'homeoncallhealthaides24hrs' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/pc.jpg' %}">

				             </div>
				             <div class="content">
								 <a href="{% url 'homediagnosticlabandbloodtransfusionservices' %}"><p class="txt4">Home Diagnostic Lab And Blood Transfusion Services</p></a>
				                 <p class="txt2">Haseen Associates services for Palliative Care.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'homediagnosticlabandbloodtransfusionservices' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">
				             </div>
				             <div class="content">
								 <a href="{% url 'homemedicalequipment' %}"><p class="txt4">Home Medical Equipment</p></a>
				                 <p class="txt2">Haseen Associates services for Cancer Care Services Just as cancer affects your physical health.</p>
				             </div>
				             <div class="footer">
				                  <p><span class="like"><i class="fab fa-gratipay"><a href="{% url 'homemedicalequipment' %}"> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
      </div><br>
      </div><br>

    	<div class="cc-bg1">
    	<h1 style="color: #E2EC12" class="fasla">SPECIAL SERVICES</h1>
      <div class="row hidden-md-up">
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/ns.jpg' %}">

				             </div>
				             <div class="content">
				                 <p class="txt4">Nusrsing Services</p>
				                 <p class="txt2">Haseen Associates Services Our nurses and attendants are experienced in providing a complete range.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href=""> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->

        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cs.jpg' %}">
				             </div>
				             <div class="content">
				                 <p class="txt4">Caregiver Services</p>
				                 <p class="txt2">Haseen Associates services for Patient Caregiver Services Our caregivers are well trained.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href=""> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/as.jpg' %}">
				             </div>
				             <div class="content">
				                 <p class="txt4">Attendant Services</p>
				                 <p class="txt2">Haseen Associates services for Attendant Services Our attendants are certified caregivers.</p>
				             </div>
				             <div class="footer">
				             	<p><span class="like"><i class="fab fa-gratipay"><a href=""> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>

      </div><br>
      <!-- bara end -->
     <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">

				             </div>
				             <div class="content">
				                 <p class="txt4">Mother Care</p>
				                 <p class="txt2">Haseen Associates services For Mother Care Services Being a mother is a life changing experience.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href=""> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/pc.jpg' %}">

				             </div>
				             <div class="content">
				                 <p class="txt4">Palliative Care</p>
				                 <p class="txt2">Haseen Associates services for Palliative Care Services Palliative care plays an important role.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href=""> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">
				             </div>
				             <div class="content">
				                 <p class="txt4">Cancer Care</p>
				                 <p class="txt2">Haseen Associates services for Cancer Care Services Just as cancer affects your physical health.</p>
				             </div>
				             <div class="footer">
				                  <p><span class="like"><i class="fab fa-gratipay"><a href=""> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div><br>
        </div>
      </div><br>

    	<div class="cc-bg2">
    	<h1 style="color: #E2EC12" class="fasla">JOBS</h1>
      <div class="row hidden-md-up">
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/ns.jpg' %}">

				             </div>
				             <div class="content">
				                 <p class="txt4">Nusrsing Services</p>
				                 <p class="txt2">Haseen Associates Services Our nurses and attendants are experienced in providing a complete range.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href=""> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->

        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cs.jpg' %}">
				             </div>
				             <div class="content">
				                 <p class="txt4">Caregiver Services</p>
				                 <p class="txt2">Haseen Associates services for Patient Caregiver Services Our caregivers are well trained.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href=""> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/as.jpg' %}">
				             </div>
				             <div class="content">
				                 <p class="txt4">Attendant Services</p>
				                 <p class="txt2">Haseen Associates services for Attendant Services Our attendants are certified caregivers.</p>
				             </div>
				             <div class="footer">
				             	<p><span class="like"><i class="fab fa-gratipay"><a href=""> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>

      </div><br>
      <!-- bara end -->
     <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">

				             </div>
				             <div class="content">
				                 <p class="txt4">Mother Care</p>
				                 <p class="txt2">Haseen Associates services For Mother Care Services Being a mother is a life changing experience.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href=""> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/pc.jpg' %}">

				             </div>
				             <div class="content">
				                 <p class="txt4">Palliative Care</p>
				                 <p class="txt2">Haseen Associates services for Palliative Care Services Palliative care plays an important.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href=""> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">
				             </div>
				             <div class="content">
				                 <p class="txt4">Cancer Care</p>
				                 <p class="txt2">Haseen Associates services for Cancer Care Services Just as cancer affects your physical health.</p>
				             </div>
				             <div class="footer">
				                  <p><span class="like"><i class="fab fa-gratipay"><a href=""> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div><br>
        </div>
      </div><br>

    	<div class="cc-bg3">
    	<h1 style="color: #E2EC12" class="fasla">OTHER SERVICES</h1>
      <div class="row hidden-md-up">
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/ns.jpg' %}">

				             </div>
				             <div class="content">
				                 <p class="txt4">Nusrsing Services</p>
				                 <p class="txt2">Haseen Associates Services Our nurses and attendants are experienced in providing a complete range.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href=""> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->

        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cs.jpg' %}">
				             </div>
				             <div class="content">
				                 <p class="txt4">Caregiver Services</p>
				                 <p class="txt2">Haseen Associates services for Patient Caregiver Services Our caregivers are well trained.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href=""> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/as.jpg' %}">
				             </div>
				             <div class="content">
				                 <p class="txt4">Attendant Services</p>
				                 <p class="txt2">Haseen Associates services for Attendant Services Our attendants are certified caregivers.</p>
				             </div>
				             <div class="footer">
				             	<p><span class="like"><i class="fab fa-gratipay"><a href=""> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>

      </div><br>
      <!-- bara end -->
     <div class="row">
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/mc.jpg' %}">

				             </div>
				             <div class="content">
				                 <p class="txt4">Mother Care</p>
				                 <p class="txt2">Haseen Associates services For Mother Care Services Being a mother is a life changing experience.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href=""> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
          	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/pc.jpg' %}">

				             </div>
				             <div class="content">
				                 <p class="txt4">Palliative Care</p>
				                 <p class="txt2">Haseen Associates services for Palliative Care Services Palliative care plays an important role.</p>
				             </div>
				             <div class="footer">
				                <p><span class="like"><i class="fab fa-gratipay"><a href=""> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div>
        <div class="col-md-4">
         	<!-- card  -->
				<div class="container">
				         <div class="cardcontainer">
				             <div class="photo">
				             	<img src="{% static 'images/cc.jpg' %}">
				             </div>
				             <div class="content">
				                 <p class="txt4">Cancer Care</p>
				                 <p class="txt2">Haseen Associates services for Cancer Care Services Just as cancer affects your physical health.</p>
				             </div>
				             <div class="footer">
				                  <p><span class="like"><i class="fab fa-gratipay"><a href=""> CONTACT NOW</a></i></span></a></p>
				             </div>
				         </div>
				     </div>
<!-- card end -->
        </div><br>
        </div>
      </div><br><!-- //// -->
      </div>
    </div><br>


{% endblock %}