{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container">
         <section class="segment-1 my-5">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <img class="d-block w-100 h-45" src="{% static 'images/1-1.jpg' %}" alt="First slide">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100 h-45" src="{% static 'images/2-2.jpg' %}" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100 h-45" src="{% static 'images/3-3.jpg' %}" alt="Third slide">
                  </div>
               </div>
               <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
               </a>
            </div>
         </section>
         <section class="card">
            <div class="mx-5 my-4">
               <h1 class="heading">Suction Machines</h1>
               <div class="row">
                  <div class="col-lg-6 col-md-12 col-xs-12">
                     <div class=" my-5">
                        <h2 class="h3">Suction Machines</h2>
                        <h3 class="h31 text-center">“An emergency lifesaver!”</h3>
                        <p class="p1">Haseen Associate Services offer the best general physicians in the environment that you wish for. With the best doctors at home, you can get all the initial medical treatment maintaining your comfort and privacy at home. Enjoy premium services with satisfaction without any prior notice. When the situation gets panicky, you need to call doctors for a home visit. Or else, it can be for an emergency or a quick checkup and treatment. As a matter of fact, having such a doctor on your contact list can be a lifesaver. Luckily, Holistic Healthcare Services have a list of reliable doctors available around the clock.</p>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-12 col-xs-12">
                     <img class="sgt2img" src="{% static 'images/7-7.jpg' %}">
                  </div>
               </div>
            </div>
         </section>
         <section class="card my-5">
            <div class="mx-5 mt-5">
               <h1 class="h4">When do you need our Blood Transfusion at home?</h1>
               <p class="p2">There are times when you suddenly fall sick and even lack the ability to get up to visit the doctor. At other times, you might have an important meeting and your dad’s appointment on the same day. Likewise, you may have to deal with the challenge of taking an elderly with limited mobility for a routine checkup.
                  We can take away the worries from your shoulders and offer a doctor at home with just one phone call to avail general physicians services. Here you can communicate with knowledgeable, experienced, and compassionate doctors. Of course, they are always glad to help you with initial consultation and treatments for your regular and long-term health conditions. With that said, you won’t need to rush to the hospital, instead get the doctor at home in 30 minutes or less. Undoubtedly, these general physicians can offer all medical services with a prompt response to any situation.
                  Moreover, they can also help in emergency conditions like stroke, attacks, or severe injuries. Else, you can call the doctor for treatment of a variety of health issues, including:
                  Insomnia, dizziness, migraines
                  Joint or back pains, strains or sprains
                  Flue, fever, allergies, food poisoning, or more
                  High BP or diabetes,
                  Sinusitis, tonsillitis, tinnitus, and nose bleeds,
                  Vomiting, nausea, or heartburn
                  Urinary tract infection or STDs
                  Pneumonia or asthma bronchitis
                  ECG and laboratory investigations
                  Medical reports
                  Nebulizers
                  Suture removals
                  Injections, vaccination, IV fluids, and vitamin injections
                  Preventive health care or general physicians health checkups
               </p>
               <h1 class="h4">Why choose our Blood Transfusion at home?</h1>
               <p class="p2">When it comes to getting medical services delivered at the door, you should never settle for less. Luckily, we offer you the best doctors and physicians on just one call. For this purpose, you can schedule a home physician visit or dial us now in case of an emergency. The pre-scheduled visit helps to get your elderly or loved ones checked without causing them any hassle of traveling. Besides booking the doctor at a home checkup, you can get the following benefits:</p>
            </div>
         </section>
         <section class="card my-5 section3">
            <div class="mx-5 my-5">
               <div class="row">
                  <div class="col-lg-6 col-md-12 col-xs-12">
                     <img class="sgt2img" src="{% static 'images/6-6.jpg' %}">
                  </div>
                  <div class="col-lg-6 col-md-12 col-xs-12">
                     <div class="">
                        <h2 class=" my-3">Qualified and experienced professionals</h2>
                        <h3 class="my-3" >We Provide Care</h3>
                        <p class="p1 my-3">HaseenHealth Associate bring back the family doctor's concept by providing reliable and experienced doctor at your doorstep. At the same time they will help with all the basic medical needs while keeping track of the case.</p>
                        <button type="button" class="btn btn-info btn-lg my-3">READ MORE</button>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="card">
            <div class="mx-5 my-5">
               <h1 class="heading2">No hours of waiting</h1>
               <div class="row">
                  <div class="col-lg-6 col-md-12 col-xs-12">
                     <div class=" my-3">
                        <h2 class="h3">Blood Transfusion at home</h2>
                        <h3 class="h31">We Provide Care</h3>
                        <p class="p1">Say good-bye to long hours of waiting and travelling to and from the clinic. Make an appointment as per your preferred date or time, and enjoy your health care services at doorstep.</p>
                        <button type="button" class="btn btn-info btn-lg my-3">READ MORE</button>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-12 col-xs-12">
                     <img class="sgt2img" src="{% static 'images/10-10.jpg' %}">
                  </div>
               </div>
            </div>
         </section>
         <section class="card  my-5 section4">
            <div class="mx-5 my-5">
               <h1 class="heading2">No hours of waiting</h1>
               <div class="row">
                  <div class="col-lg-6 col-md-12 col-xs-12">
                     <div class=" my-3">
                        <h2 class="h3">Blood Transfusion at home</h2>
                        <h3 class="h31">We Provide Care</h3>
                        <p class="p1">Say good-bye to long hours of waiting and travelling to and from the clinic. Make an appointment as per your preferred date or time, and enjoy your health care services at doorstep.</p>
                        <button type="button" class="btn btn-info btn-lg my-3">READ MORE</button>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-12 col-xs-12">
                     <img class="sgt2img" src="{% static 'images/10-10.jpg' %}">
                  </div>
               </div>
            </div>
         </section>
         <section class="card my-5 section3">
            <div class="mx-5 my-5">
               <div class="row">
                  <div class="col-lg-6 col-md-12 col-xs-12">
                     <img class="sgt2img" src="{% static 'images/6-6.jpg' %}">
                  </div>
                  <div class="col-lg-6 col-md-12 col-xs-12">
                     <div class="">
                        <h2 class=" my-3">Qualified and experienced professionals</h2>
                        <h3 class="my-3" >We Provide Care</h3>
                        <p class="p1 my-3">Haseen Health Associate bring back the family doctor's concept by providing reliable and experienced doctor at your doorstep. At the same time they will help with all the basic medical needs while keeping track of the case.</p>
                        <button type="button" class="btn btn-info btn-lg my-3">READ MORE</button>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section>
            <div class="card-deck">
               <div class="card">
                  <img class="card-img-top" src="{% static 'images/10-10.jpg' %}" alt="Card image cap">
                  <div class="card-body">
                     <h5 class="card-title">Card title</h5>
                     <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                     <a href="">Learn more</a>
                  </div>
               </div>
               <div class="card">
                  <img class="card-img-top" src="{% static 'images/8-8.jpg' %}" alt="Card image cap">
                  <div class="card-body">
                     <h5 class="card-title">Card title</h5>
                     <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                     <a href="">Learn more</a>
                  </div>
               </div>
               <div class="card">
                  <img class="card-img-top" src="{% static 'images/9-9.jpg' %}" alt="Card image cap">
                  <div class="card-body">
                     <h5 class="card-title">Card title</h5>
                     <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                     <a href="">Learn more</a>
                  </div>
               </div>
            </div>
         </section>
      </div>



{% endblock %}